body {
  font-family: "Cuprum", sans-serif;
  margin: 0;
  padding: 0;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.danteLogo {
  display: flex;
  box-sizing: border-box;
  width: fit-content;
  text-decoration: none;
  color: white;
  font-size: 3rem;
  margin-left: 2%;
}
.menu-header {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin-right: 3%;
  list-style: none;
}
.items-menu-header {
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  font-size: 1.3rem;
}
.items-menu-header.isActive {
  display: flex;
  color: black;
  background-color: white;
  border-radius: 20px;
  width: 140%;
  height: 100%;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  align-self: center;
  justify-self: center;
  box-sizing: border-box;
}
.items-menu-header:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  margin-bottom: -10px;
  background-color: white;
  transform-origin: bottom;
  transition: transform 0.2s ease-out;
}
.items-menu-header:hover:after {
  transform: scaleX(1);
  transform-origin: bottom;
}
.footer {
  position: fixed;
  top: 95%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 5vh;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
.socialContact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  width: 20%;
  padding: 0;
}

.items-menu-footer {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: all 0.3s linear;
}
.items-menu-footer:hover {
  transform: scale(1.5);
}

.menu-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  width: 80%;
}
.contributor {
  margin-right: 20px;
}
.info-text {
  color: azure;
  margin-bottom: 100px;
  margin-top: 50px;
  font-size: 1.5rem;
  width: 60vh;
  margin-left: 35%;
}
.imgshow {
  color: azure;
  display: flex;
  justify-content: center;
}
.row {
  display: flex;
}
.pic {
  margin: 5px;
}
.videoFrame {
  width: 100vw;
  height: 120vh;
  top: 0px;
  left: 0px;
}
